@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;    
    font-family: 'Comfortaa', cursive;
  font-weight: 400;





}
body{
  background-color: #EEEEEE;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: #393E46;
  font-size: 18px;
}